* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin__container {
  width: 100vw;
  height: 100vh;
  display: flex;

  background-color: #dde0e6;
  a,
  link {
    color: black;
    text-decoration: none;
    &:hover {
      color: #00bfff;
      background-color: #e6e6fa;
    }
  }
}

.admin__content {
  width: 70%;
  height: 100%;
  flex: 1;
  margin-right: -10px;
  display: flex;
  flex-direction: column;
  margin-left: 290px;
}

// đặt tên class hoặc bọc cả cái css trong 1 cái class ko cái thẻ a này nó ăn toàn bộ cả cái user của tôi nhé bạn ơi
