.listnews__container {
  width: 95%;
  margin-top: -60px;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 200px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

.listnews__inner {
  width: 100%;
  height: 100%;
  display: flex;
}

.listnews__news--thumnel {
  height: 100%;
  width: 30%;
  border: 1px solid #dde0e6;
  margin-right: 10px;
}

.listnews__news--content {
  height: 100%;
  width: 60%;
  border: 1px solid #dde0e6;
  margin-right: 10px;
  padding: 0 8px;
}

.listnews__news--title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.listnews__news--createby,
.listnews__news--update {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  span {
    width: 50%;
  }
}

.listnews__news--action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
