.headeradmin__inner {
  height: 66px;
  margin: 0 -10px 0 -20px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #dde0e6;
}
.headeradmin__search {
  width: 400px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.headeradmin__btnsearch {
  position: absolute;
  border: none;
  outline: none;
  color: #add8e6;
  background-color: transparent;
  right: -150px;
  transition: all 0.3s ease-in-out;
}

.headeradmin__action {
  display: flex;
  align-items: center;
 
}

.headeradmin__avatar {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.btn_logout-admin{
  transition: ease 0.2s;
  margin-left: 10px;
}

.btn_logout-admin:hover {
  transform: rotateY(150deg);
  transition: 0.4s;
  cursor: pointer;
}