.dashboard__container {
  margin: 0;
  background-color: #dde0e6;
}

.dashboard__inner {
  padding: 10px;
}
.dashboard__content {
  margin-left: 80px;
}

.dashboard__header {
  margin: 0;
  width: 100%;
  height: 200px;
  padding: 20px 10px;
  color: #fff;
  background-color: #b0e0e6;
}

.viewdaily {
  width: 95%;
  height: 500px;
  margin-top: -100px;
  background-color: #fff;
  border-radius: 10px;
  top: 200px;
  left: 400px;
  margin-bottom: 20px;
}

.dashboard__wraper {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.viewhourly {
  width: 60%;
  height: 400px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.dashboard__wraper--news {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.quantityOfNews {
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #1e90ff;
  span {
    color: #7b68ee;
  }
}

.newofcategory {
  width: 100%;
  height: 280px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
}
